extends layout

block content
  h1= title
  p= "Sign in or create an account for access to the internets most secretive message board"
  a.btn.btn-primary(href='/users/signup') signup
  |
  |
  a.btn.btn-primary(href='/users/signin') signin
